body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: black;
    transition: 0.3s;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

/* Tema escuro */
.dark-mode {
    background-color: #352e2e;
    color: white;
}

.dark-mode .container {
    background-color: #443d3d;
}